################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/legal-UI/.github
/legal-UI/.vs
/legal-UI/.vscode
